# Imports

In [11]:
import re
import pandas

pandas.options.display.max_colwidth = 5000
pandas.options.display.max_columns = 10
pandas.options.display.max_rows = 200

# Legend

In [26]:
data = [
    ['.', 'match any single character (letter, digit, whitespace, everything), except . itself.'],
    ['\.', 'match any single character (letter, digit, whitespace, everything) and the dot'],
    ['\d', 'match any digit'],
    ['\d\d\d', 'exactly any three digits'],
    ['[cmf]', 'match only c, m, or f and nothing else'],
    ['[^cmf]', 'match any except c, m, or f'],
    ['[0-6]', 'match any digit from 0 to 6'],
    ['[^a-c]', 'match any character except from a to c'],
    ['\w or [A-Za-z0-9_]', 'match any characters or digits, no special characters'],
]

legend = pandas.DataFrame(data, columns=['Filter', 'Explanation'], index = None)
legend.style.hide_index()

# Functions

In [13]:
def testMatch(result):
    if result is None:
        print('Not a match')
    else:
        print('Found a match at start: ' + str(result.start()) + ' | end: ' + str(result.end()))

# Basic match 1

In [45]:
text = 'abcdefg'
match = 'b'

testMatch(re.search(match, text))

Found a match at start: 1 | end: 2

# Find and gather all matching digits | \d

In [15]:
text = 'adsf23gfd'
match = '\d'

re.findall(match, text)

['2', '3']

# Multiple matched string locations

In [16]:
text = 'Now I see trees everywhere.'

print("Text: " + text + "\n")

for match in re.finditer('r', text):
    print("Letter \'e\' found at start: " + str(match.start()) + " ending at: " + str(match.end()))

for match in re.finditer('h', text):
    print("Letter \'h\' found at start: " + str(match.start()) + " ending at: " + str(match.end()))

Text: Now I see trees everywhere.

Letter 'e' found at start: 11 ending at: 12
Letter 'e' found at start: 19 ending at: 20
Letter 'e' found at start: 24 ending at: 25
Letter 'h' found at start: 22 ending at: 23

# Match anything except... | [^Now]

In [17]:
text = 'Now I see trees everywhere.'

testMatch(re.search('[^Now]', text))

Found a match at start: 3 | end: 4

In [18]:
re.findall('[^ Nowe]', text)

['I', 's', 't', 'r', 's', 'v', 'r', 'y', 'h', 'r', '.']

# Match any characters or digits| \w or [A-Za-z0-9_]

In [19]:
text = '68 hens \'n a lil piggeh in a yard kod dida Čake. Additionalz: Đ0_324$#'

testMatch(re.search('\w', text))

Found a match at start: 0 | end: 1

In [20]:
testMatch(re.search('[A-Za-z0-9_]', text))

Found a match at start: 0 | end: 1

In [21]:
text = '\.#$$ non chars muahahaha'
testMatch(re.search('\w', text))

Found a match at start: 6 | end: 7

###### Exactly three of such

In [29]:
text = '\.#$$ n$on$ ch$ars muahahaha'
testMatch(re.search('\w\w\w', text))

Found a match at start: 15 | end: 18

###### Another way

In [28]:
testMatch(re.search('\w{3}', text))

Found a match at start: 15 | end: 18

# Match repetitions - amount from range

In [53]:
text = 'the mexican dude went all jajajajaja'
testMatch(re.search('l{2,3}', text))

Found a match at start: 23 | end: 25

### Get back to this - match repetitions of "ja"

In [55]:
testMatch(re.search('ja{2,3}', text))

Not a match